.run-list {

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $placeholder-text;

    &--time {
      color: $green-text;
    }
  }
}

.view-footer {

  &__content {
    width: 100%;
    text-align: right;
  }
}

.new-run-link {
  text-decoration: none;
  color: $button-green;
}
