.run-list {

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $placeholder-text;

    &--time {
      color: $green-text;
    }
  }
}

.view-footer {

  &__content {
    width: 100%;
    text-align: right;
  }
}

.new-run-icon {

  &__circle {
    color: $button-green;
  }

  &__plus {
    text-decoration: none;
    color: $title-white;
  }
}
