<div class="main-view">
  <div class="container">
    <h1 class="view-title">My Run</h1>

      <p>{{model.raceDate}}</p>
      <p>{{model.runTime}}</p>
      <p>{{model.raceNotes}}</p>
  </div>
</div>
{{outlet}}
