<div class="run-page">
  <div class="container">
    <ul class="run-list">
      <li class="run-list__item">
        <p class="date run-list__item--date">Dec 1, 2015</p>
        <p class="time run-list__item--time">00:23:15</p>
      </li>
      <li class="run-list__item">
        <p class="date run-list__item--date">Dec 1, 2015</p>
        <p class="time run-list__item--time">00:23:15</p>
      </li>
      <li class="run-list__item">
        <p class="date run-list__item--date">Dec 1, 2015</p>
        <p class="time run-list__item--time">00:23:15</p>
      </li>
    </ul>
  </div>
</div>
<footer class="run-footer">
  <div class="container">
    <p class="run-footer__content">
      {{#link-to 'new-run' class='new-run-link'}}
        add new run
      {{/link-to}}
    </p>
  </div>
</footer>
{{outlet}}
