<header class="header">
  <div class="container">
    <h1 class="header_title">
      {{#link-to 'index' class='home-link'}}
      Run Timer
      {{/link-to}}
    </h1>
  </div>
</header>
{{outlet}}
