<div class="new-run">
  <div class="container">
  <h1>New Run</h1>
    <form class="new-run__form" {{action 'addRun' on='submit'}}>
      {{input type='text' value='Run Time' class='new-run__form--input'}}
    </form>
  </div>
</div>
{{outlet}}
